[run]
source =
    circleci_python_coverage

branch = True
parallel = False
relative_files = False

[paths]
source =
        # This is the nice path we would like to end up with.  It must also be
        # where the source is actually available when `coverage combine` is
        # run.
       src/

       # A Nix build embeds source paths like this one.
       /nix/store/*-python3.9-circleci-python-coverage-*/lib/python3.9/site-packages/

       # A Windows build embeds source paths like this one.
       C:\tools\miniconda3\Lib\site-packages\

       # A macOS build embeds source paths like this one.
       /Users/distiller/project/venv/lib/python*/site-packages/
