[run]
source =
    circleci_python_coverage

branch = True
parallel = False
relative_files = False

[paths]
source =
        # This is the nice path we would like to end up with.  It must also be
        # where the source is actually available when `coverage combine` is
        # run.
       src/

       # A Nix build embeds source paths like this one.  The 3rd segment in
       # particular varies quite a bit depending on exactly what choices are
       # made for the Nix expression defining the object.
       /nix/store/*-python*/lib/python*/site-packages/

       # A Windows build embeds source paths like this one.  Note that though
       # Windows paths are not case sensitive our matching against this path
       # *will* be and we will match against a lower-cased version of it.  So
       # we make sure it is lowercase here.
       C:\tools\miniconda3\lib\site-packages\

       # A macOS build embeds source paths like this one.
       /Users/distiller/project/venv/lib/python*/site-packages/
